
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Welcome to PythonOnWheels</title>

    <!-- Bootstrap core CSS -->
    <!--link href="../../dist/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!--link href="sticky-footer-navbar.css" rel="stylesheet"-->
    <!--link href="{{ static_url("css/sticky-footer-navbar.css") }}" rel="stylesheet"-->
    
    <link href="{{ static_url("css/justified-nav.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/prism.css") }}" rel="stylesheet">
    {% block css %}
      
    {% end %}

    {% block js %}
      
    {% end %}
  </head>

  <body>

   <div class="container" >

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      

      <!-- Jumbotron -->
      <div class="jumbotron">
        <img src={{ static_url("images/pow_logo_300.png") }}  style="display: inline-block;" />
           <hr>
        <p class="lead">The quick and simple generative Webframework for python.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Safari bug warning!</h2>
          <p class="text-danger">As of v9.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>

        </div>
      </div>
      <pre><code class="language-python">
            @relation.tree()
            @relation.setup_schema()
            class Comment(Base):
                  #
                  # Schema definition with the new (cerberus) schema style 
                  # which offer you immediate validation 
                  #
                  schema = {
                      # string sqltypes can be TEXT or UNICODE or nothing
                      'author': {'type': 'string', 'maxlength' : 35},
                      'text': {'type': 'string'}
                  }

                  # init
                  def __init__(self, **kwargs):
                      self.init_on_load(**kwargs)

                  # your methods down here


          </code></pre>
      <!-- Site footer -->
      {% include "footer.tmpl" %}

    </div> <!-- /container -->


  </body>
</html>
